*.7z filtro =lfs diff =lfs merge =lfs -texto
*.arrow filter =lfs diff =lfs merge =lfs -text
*.bin filtro =lfs diff =lfs mesclagem =lfs -texto
*.bz2 filtro =lfs diff =lfs mesclagem =lfs -texto
*.ckpt filtro =lfs diff =lfs mesclagem =lfs -texto
*.ftz filtro =lfs diff =lfs mesclagem =lfs -texto
*.gz filtro =lfs diff =lfs mesclagem =lfs -texto
*.h5 filtro =lfs diff =lfs mesclagem =lfs -texto
*.joblib filtro =lfs diff =lfs mesclagem =lfs -texto
*.lfs.* filtro =lfs diff =lfs mesclagem =lfs -texto
*.mlmodel filtro =lfs diff =lfs mesclagem =lfs -texto
*.modelo filtro =lfs diff =lfs mesclagem =lfs -texto
*.msgpack filtro =lfs diff =lfs merge =lfs -texto
*.npy filtro =lfs diff =lfs mesclagem =lfs -texto
*.npz filtro =lfs diff =lfs mesclagem =lfs -texto
*.onnx filtro =lfs diff =lfs mesclagem =lfs -texto
*.ot filtro =lfs diff =lfs merge =lfs -texto
*.parquet filtro =lfs diff =lfs mesclagem =lfs -texto
*.pb filtro =lfs diff =lfs mesclagem =lfs -texto
*.pickle filter =lfs diff =lfs merge =lfs -text
*.pkl filtro =lfs diff =lfs mesclagem =lfs -texto
*.pt filtro =lfs diff =lfs merge =lfs -texto
*.pth filtro =lfs diff =lfs merge =lfs -texto
*.rar filtro =lfs diff =lfs merge =lfs -texto
*.safetensors filtro =lfs diff =lfs merge =lfs -texto
modelo_salvo/**/* filtro =lfs diff =lfs mesclagem =lfs -texto
*.tar.* filtro =lfs diff =lfs mesclagem =lfs -texto
*.tar filtro =lfs diff =lfs merge =lfs -texto
*.tflite filtro =lfs diff =lfs merge =lfs -texto
*.tgz filtro =lfs diff =lfs mesclagem =lfs -texto
*.wasm filtro =lfs diff =lfs mesclagem =lfs -texto
*.xz filtro =lfs diff =lfs mesclagem =lfs -texto
*.zip filtro =lfs diff =lfs merge =lfs -texto
*.zst filtro =lfs diff =lfs mesclagem =lfs -texto
*tfevents* filtro =lfs diff =lfs merge =lfs -texto
